<nav>
	<ul>
		<li><a href="#" class="active">Home</a></li>
		<li><a href="#" >About</a></li>
		<li><a href="#" >Blog</a></li>
		<li><button type="button" class="sidebar-btn active">sidebar</button></li>
	</ul>
</nav>