footer{
	clear: both;
	background: #000000;
	color: #fff;
		@media (max-width: $breakpoint-tablet - 1) and (min-width: $breakpoint-desktop -1) {
			padding:20px;  
		}

		@media (min-width: $breakpoint-desktop) {
	
			padding:30px;  
		}
}