.container{
	width: 100%;
	
	.grid-item{
		flex: 1 0 auto;
		@media (max-width: $breakpoint-tablet - 1) {
			width: 100%;	
			padding:0 20px;  
		}

		@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
			width: 50%;
			float: left;		
			padding:0 20px;  
		}

		@media (min-width: $breakpoint-desktop) {
			width: 33%;
			float: left;
			padding:0 30px;
		}
	}
}