nav{
	padding-left:20px;
	@media (min-width: $breakpoint-desktop) {
		padding-left:30px;
	}

	ul{
		padding-left:0;
		li{
			display: inline;
			padding:0 10px;

			&:first-child{
				padding-left:0;
			}

			a{
				color: #000;
				line-height: 2em;
				height:2em;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}

				&.active{
					font-weight: bold;
				}

			}
		}
	}
}