<div class="main">
	<div class="grid-item">
		<img src="dist/img/photo-1509177532812-b41c8305705a.jpg" class="img-responsive">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet</p>
	</div>
	<div class="grid-item">
		<img src="dist/img/B6PfiQ8QoSzmsZYOCkSB__DSC0530-1.jpg" class="img-responsive">
		<h2>Heading</h2>
		<p>Aenean vulputate eleifend tellus. Aenean l</p>
	</div>
	<div class="grid-item">
		<img src="dist/img/photo-1423012373122-fff0a5d28cc9.jpg" class="img-responsive">
		<h2>Heading</h2>
		<p>augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper lib</p>
	</div>
	<div class="grid-item">
		<img src="dist/img/photo-1427434991195-f42379e2139d.jpg" class="img-responsive">
		<h2>Heading</h2>
		<p>Sed consequat, leo eget bibendum sodales,</p>
	</div>
	<div class="grid-item">
		<img src="dist/img/photo-1440700265116-fe3f91810d72.jpg" class="img-responsive">
		<h2>Heading</h2>
		<p>Sed consequat, leo eget bibendum sodales,</p>
	</div>
	<div class="grid-item">
		<img src="dist/img/photo-1485811055483-1c09e64d4576.jpg" class="img-responsive">
		<h2>Heading</h2>
		<p>augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper lib</p>
	</div>
</div>