<div class="sidebar visible">
	<div class="content">
		<ul>
			<li>Side bar item 1</li>
			<li>Side bar item 2</li>
			<li>Side bar item 3</li>
			<li>Side bar item 4</li>
		</ul>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</div>
</div>