<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valtech</title>
    <link rel="stylesheet" href="dist/css/test.css">
  </head>
  <body>
    <div class="container">
        {% include "partials/header.html" %}

        <!-- start:content -->
        {% block content %} {% endblock %}
        <!-- end:content -->

        <!-- start:footer -->
        {% include "partials/footer.html" %}
        <!-- end:footer -->
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="dist/js/test.js"></script>
  </body>
</html>