//variables
$breakpoint-mobile: 0px;
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1024px;

//default
html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #F2F3F3;
}

div{
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
}

h2{
	color: #6f6f6f;
	font-size: 27px;

}

p{
	color: #929292;
	font-size:16px;

}

//layout
.main{
	display: flex; 
	flex-wrap: wrap;
	float: left;
	width: 70%;
	margin-bottom: 20px;


	@media (max-width: $breakpoint-tablet - 1) {
		float: right;
		width: 100%;
	}
}

.sidebar{
	width: 30%;
	float: right;
	padding-right:20px; 
	margin-bottom:20px;

	@media (max-width: $breakpoint-tablet - 1) {
		padding-left:20px;
	}

	@media (max-width: $breakpoint-tablet - 1) {
		width: 100%;
	}

	.content{
		background: #f1f1f1;
		border:1px solid gray;
		padding:20px;

		ul{
			list-style: none;
			padding-left: 0;
		}
	}
}

//images
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

//buttons
button {
    color: #000;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .15rem;
    outline: 0;

    &.active{
    	color: green;
    	border-color: green;
    }
}